.fit-image {
    width: 100% !important;
    height: 15vw !important;
    object-fit: cover !important;
}

.lanker-tag { /* TODO : fix overflowing text with ...*/
  border-radius: 1.5rem !important;
  white-space: nowrap !important;
  overflow: hidden;
  text-overflow: ellipsis !important;
}
